div {
  font-size: 1rem;
  margin-right: 15px;
  margin-bottom: 20px;
}

div.title {
  margin-bottom: 20px;
  color: rgb(0, 242, 250);
}

label {font-size: 1.1rem;}

input {
  width: 100%;
  margin-top: 0px;
  height: 20px;
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 3px solid rgb(0, 242, 250);
  color: rgb(0, 242, 250);
}

button {
  width: 75%;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #282c34;
  font-size: 1.2rem;
}

button:hover {
  border: 2px solid rgb(0, 242, 250);
  background-color: #282c34;
  color:rgb(0, 242, 250);
  cursor: pointer;
  transition: 1s;
  box-shadow: 0 5px 20px 5px rgb(0, 242, 250);
}

.container {
  margin: 0 auto;
  width: 95vw;
}

.title, .center, .button {text-align: center;}

.title h1 {font-size: 2rem;}

.title h3 {
 font-size: 1.3rem;
 color: rgb(0, 242, 250);
 margin-bottom: 0px;
}

.title h5 {
  font-size: .7rem;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  margin: 20px auto;
  width:720px;
  height:700px;
  background-color:transparent;
  grid-template-columns: 350px 350px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box {
  border: 1px solid black;
  color: white;
  background-color:#333;
  padding:20px;
  border-radius:10px;
  align-items:center;
  justify-content:center;
  font-size:40px;
  font-family:sans-serif;
}

.flexbox {display: flex;}
.space-between {justify-content:  space-between;}

.minimum-payment, .minimum-payments {
  margin-top: 30%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.payment-history {
  text-align: center;
  overflow: auto;
}

.payment-history-text {font-size: 1rem;}